$primary: #008080;
$primary-light: #42b983;
$primary-dark: #2c3e50;

$white: #fff;
$white-light: #fafafa;
$white-dark: #e5e6e8;

$grey: #999999;
$grey-light: #cccccc;
$grey-dark: #666666;

$border: #dcdcdc;
$border-light: #ebebeb;
$border-dark: #d9d9d9;

$text: #222;
$title: #303133;
$content: #53586B;

$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #909399;

$appMinWidth: 1280px;
